/* For VanessaName project */

/*** General Styling ***/
/***************************************/

body{
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
	font-size: 100%;
	color: #000;
	background-color: #FFF;
}

a{
	text-decoration: none;
	color: #00d8d8;
}

#header, #content{
	margin: 5%;
}

/*** Header Styling ***/
/***************************************/

#header{
	margin-bottom: 0;
}

/*** Content Styling ***/
/***************************************/

.toHide{
	display: none;
}

#canvas{
	/*max-width: 100%;*/
	font-family: verdana, sans-serif;
	background-color: white;
}

#canvas.light{
	background-color: black;
}

#canvas.flashLight:hover{
	cursor: none;
}

#eggFinder{
	font-weight: bold;
	color: #00d8d8;
}

#hint{
	color: red;
}

#eggFinder:hover, button:hover{
	cursor: pointer;
}

#controls{
	width: 90%;
}

button{
	width: 30%;
	margin: 1%;
	background-color: #00b8ff;
	border: none;
	font-size: 120%;
}

@media(min-width: 900px){
	#info-area, #controls{
		max-width: 750px;
	}
}